<span style='color: #000'>83 frames</span>	<span style='color: #900'>6,912 KB</span>	<span style='color: #090'>769.04 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />